.signUpBtnNew {
  background-color: #1a1a1a;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.signUpBtnNew:hover {
  background-color: #3f3f3f;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.bodyContainerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.loginformwrap {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 200px;
}
