:root {
  background: #ffffff;
  --text-color: #121212;
  --secondary-text-color: #ffffff;
  --secondary-color: #ffffff;
  --footer-text-color: #707070;
  --formBg-color: #fdfdfd;
  --btnBgHover-color: #3f3f3f;
  --btnbg-color: #1a1a1a;
}
