.gridContainer {
  flex: 11.5;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10rem;
}

.gridBooks {
  flex: 11.5;
  display: flex;
}

.gridBooks {
  font-size: 10pt;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-columns: auto auto;
  grid-auto-rows: auto auto;
  row-gap: 80px;
  margin-right: 3.5%;
  margin-left: 5px;
}

.gridImgBooks {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 200;
  color: #757575;
  font-size: 10pt;
  margin-bottom: 2px;
}

.linksbook {
  color: #1a1a1a;
  text-decoration: none;
}
