.postCard {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  color: #202020;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin: 2px 5px 2px 0;
  height: fit-content;
}

.moreLink {
  cursor: pointer !important;
  font-size: 14px !important;
  padding-left: 2px;
}

.postHeader {
  font-size: 8pt;
  display: flex;
  letter-spacing: 0.5px;
  font-weight: 200;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 3px 3px 3px;
  width: 285px;
  color: #858585;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}

.authorImg {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 3px;
}
.authorName {
  margin-left: 3px;
}
.bookmarks {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bmark {
  font-size: 14px !important;
  color: #858585 !important;
  cursor: pointer;
}
.link {
  color: #858585;
  text-decoration: none;
}

.postImg {
  object-fit: fill;
  width: 290px;
  height: 290px;
  cursor: default;
  cursor: pointer;
}

.postMenu {
  margin-top: 5.6rem;
  margin-left: -0.2rem;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  min-height: 60px;
  text-decoration: none;
}

.pMenuItem {
  padding: 10pt 20pt 6pt 5pt;
}

.pmenulink {
  color: #202020;
  text-decoration: none;
}

.pmenulink:hover {
  color: #d3d3d3;
}

@media screen and (max-width: 480px) {
  .postCard {
    margin-bottom: 0.6rem;
  }
  .postImg {
    width: 260px;
    height: 260px;
  }

  .postHeader {
    width: 265px;
  }
}
