.sideBarContainer {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  height: calc(100vh - 80px);
  align-items: center;
  position: sticky;
  top: 55px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.settings {
  display: flex;
  margin-top: 250px;
}

.navIcon {
  font-size: 18px !important;
  cursor: pointer;
  transition: 0.3s;
}

.navIcon:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

.sideLink {
  color: #202020;
}
