.sideBarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 80px);
  align-items: center;
  position: sticky;
  top: 80px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.settings {
  display: flex;
  margin-top: 250px;
}

.navIcon {
  font-size: 18px !important;
  cursor: pointer;
}
