.newPostContainer {
  flex: 11.5;
  display: flex;
  display: inline-block;
}

.postForm {
  margin: 10px 0 0 10px;
  width: 50vh;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(109, 97, 97, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: #fdfdfd;
}

.postInputs {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-right: 10%;
}

.fileUploadContainer {
  height: 280px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 dashed 1px;
  border-radius: 10px;
}
.file-btn {
  width: 180px;
}

.share-btn {
  background-color: #1a1a1a;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  border: none;
  width: 90px;
  font-weight: 500;
  font-size: 10pt;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.items {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 280px;
}
.postTitle {
  font-size: 12pt;
  letter-spacing: 0.3px;
  font-weight: 400;
  padding: 10px 0 5px 0;
}

.contrast {
  color: #bbbbbb;
  padding: 0 4px;
}
.post-input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #1a1a1a;
  border: none;
  outline: none;
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  transition: height 1s;
  -webkit-transition: height 1s;
  border-bottom: solid 1px #bdbdbd;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artwork-btn {
  background-color: #dadada;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;

  font-weight: 500;
  font-size: 10pt;
  letter-spacing: 1px;
  color: #5e5e5e;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.uploadIcon {
  color: #d1d1d1;
  padding-bottom: 30px;
  position: absolute;
}

.catInfo {
  font-size: 7pt;
  cursor: pointer;
  color: #f78080;
}

.formatInfo {
  font-size: 7pt;
  display: flex;

  color: #818181;
}
