.albumInfoContainer {
  flex: 11.5;
  display: flex;
  margin-bottom: 5rem;
}

.albumHeader {
  display: flex;
  margin-bottom: 5px;
  width: 1000px;
}

.content {
  padding: 1% 0 0 1%;
}
.tt {
  font-size: 24pt;
  font-weight: 300;
}

.tt:nth-child(2) {
  color: #b1b1b1;
  font-size: 13pt;
  font-weight: 100;
  margin-bottom: 4px;
}

.bookmark-Ainfo {
  margin-left: 1%;
  line-height: 2.5;
}

.albumAtt {
  display: flex;
}

.albumInfoimg {
  width: 300px;
  height: 300px;
}

.albumTrackInfo {
  display: flex;
}

table {
  display: grid;
  grid-template-columns: 3fr;
  grid-auto-flow: row;
  padding-right: 0.5rem;
}

td {
  width: max-content;
  margin-bottom: 0.3rem;
}

.titles {
  padding-right: 2px;
  overflow: scroll;
}

.gnAtt {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.yearGroup {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  margin-bottom: 8px;
}

.genreGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.catnumberGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.greys {
  font-size: 8pt;
  font-weight: 200;
}

.position {
  padding-right: 1%;
  font-weight: 200;
}

.trackTitle {
  font-weight: 500;
}

.trackDuration {
  font-weight: 200;
}

.right {
  display: flex;
}

.trackInfo {
  padding-left: 3%;
}

.T-title {
  font-size: 8pt;
  font-weight: 200;
}
